In [1]:
import pandas as pd
import numpy as np

In [2]:
label_data = pd.read_csv("annotations_metadata.csv")
label_df = pd.DataFrame(label_data)

In [3]:
label_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10944 entries, 0 to 10943
Data columns (total 5 columns):
file_id         10944 non-null object
user_id         10944 non-null int64
subforum_id     10944 non-null int64
num_contexts    10944 non-null int64
label           10944 non-null object
dtypes: int64(3), object(2)
memory usage: 427.6+ KB

In [4]:
label_df.head()

      file_id  user_id  subforum_id  num_contexts   label
0  12834217_1   572066         1346             0  noHate
1  12834217_2   572066         1346             0  noHate
2  12834217_3   572066         1346             0  noHate
3  12834217_4   572066         1346             0    hate
4  12834217_5   572066         1346             0  noHate

In [5]:
label_df = label_df.drop(["user_id", "subforum_id", "num_contexts"], axis=1)

In [6]:
label_df.head()

      file_id   label
0  12834217_1  noHate
1  12834217_2  noHate
2  12834217_3  noHate
3  12834217_4    hate
4  12834217_5  noHate

In [7]:
label_df["Tweet"] = np.NaN

In [8]:
label_df.head()

      file_id   label  Tweet
0  12834217_1  noHate    NaN
1  12834217_2  noHate    NaN
2  12834217_3  noHate    NaN
3  12834217_4    hate    NaN
4  12834217_5  noHate    NaN

In [9]:
tweet_path = "./all_files/"

In [80]:
label_df[label_df["file_id"]== "33662039_1"].index.tolist()[0]

10934

In [50]:
label_df["Tweet"].iloc[id_index] = "dasdadsdsa"
label_df.iloc[id_index]

file_id    13491591_4
label          noHate
Tweet      dasdadsdsa
Name: 204, dtype: object

In [10]:
import os
other_unicode_count = 0
for filename in os.listdir(tweet_path):
    name = filename.split(".")[0]
    id_index = label_df[label_df["file_id"] == name].index.tolist()[0]
    
    try :
        if label_df["file_id"].iloc[id_index] != name:
            print("error")
        else:
            f = open(tweet_path + filename, "r")
            tweet = f.read()
            label_df["Tweet"].iloc[id_index] = tweet
    except UnicodeDecodeError:
        #label_df.drop([id_index])
        other_unicode_count +=1
        continue

print("There are ", other_unicode_count, " tweets are in different unicode!")
label_df.head()

C:\Users\gozel\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

There are  19  tweets are in different unicode!

      file_id   label                                              Tweet
0  12834217_1  noHate  As of March 13th , 2014 , the booklet had been...
1  12834217_2  noHate  In order to help increase the booklets downloa...
2  12834217_3  noHate  ( Simply copy and paste the following text int...
3  12834217_4    hate  Click below for a FREE download of a colorfull...
4  12834217_5  noHate  Click on the `` DOWNLOAD ( 7.42 MB ) '' green ...

In [11]:
label_df.iloc[204]

file_id    13491591_4
label          noHate
Tweet             NaN
Name: 204, dtype: object

In [12]:
label_df = label_df.dropna(subset=["Tweet"])

In [13]:
label_df.to_csv("concatenated_data.csv")

In [14]:
label_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10925 entries, 0 to 10943
Data columns (total 3 columns):
file_id    10925 non-null object
label      10925 non-null object
Tweet      10925 non-null object
dtypes: object(3)
memory usage: 341.4+ KB