In [102]:
import pandas as pd
import re
import numpy as np

In [103]:
data = pd.read_csv("concatenated_data.csv")
data_df = pd.DataFrame(data)
data_df.tail()

,Unnamed: 0,file_id,label,Tweet
10920,10939,33676864_5,noHate,"Billy - `` That guy would n't leave me alone ,..."
10921,10940,33677019_1,noHate,Wish we at least had a Marine Le Pen to vote f...
10922,10941,33677019_2,noHate,Its like the choices are white genocide candid...
10923,10942,33677053_1,hate,Why White people used to say that sex was a si...
10924,10943,33677053_2,noHate,Now I get it !

In [104]:
data_df = data_df.rename(columns={"Unnamed: 0" : "Index"})
data_df.head()

,Index,file_id,label,Tweet
0,0,12834217_1,noHate,"As of March 13th , 2014 , the booklet had been..."
1,1,12834217_2,noHate,In order to help increase the booklets downloa...
2,2,12834217_3,noHate,( Simply copy and paste the following text int...
3,3,12834217_4,hate,Click below for a FREE download of a colorfull...
4,4,12834217_5,noHate,Click on the `` DOWNLOAD ( 7.42 MB ) '' green ...

In [97]:
data_df = data_df.dropna(subset=["Tweet"])

In [105]:
def clean_noisy_data():
    i = 0
    for tweet in data_df["Tweet"]:
        # URLs
        #print(tweet)
        new_tweet = re.sub(r"http\S+", " ", tweet)
        # RTs
        new_tweet = re.sub('RT @[\w_]+: ', ' ', new_tweet)
        # hashtags
        new_tweet = re.sub('#[\w_]+', ' ', new_tweet)
        # usernames
        new_tweet = re.sub(r"@\S+", " ", new_tweet)
        
        new_tweet = re.sub('[0-9]', ' ', str(new_tweet))
        new_tweet = re.sub('\s+', ' ', new_tweet)
        
        data_df["Tweet"].loc[i] = new_tweet
        #print(new_tweet)
    
    return data_df

In [106]:
data_df = clean_noisy_data()

In [107]:
data_df.head()

,Index,file_id,label,Tweet
0,0,12834217_1,noHate,Now I get it !
1,1,12834217_2,noHate,In order to help increase the booklets downloa...
2,2,12834217_3,noHate,( Simply copy and paste the following text int...
3,3,12834217_4,hate,Click below for a FREE download of a colorfull...
4,4,12834217_5,noHate,Click on the `` DOWNLOAD ( 7.42 MB ) '' green ...

In [108]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10925 entries, 0 to 10924
Data columns (total 4 columns):
Index      10925 non-null int64
file_id    10925 non-null object
label      10925 non-null object
Tweet      10925 non-null object
dtypes: int64(1), object(3)
memory usage: 341.5+ KB

In [110]:
data_df["Tweet"].tail(10)

10915    Why would any white European in his or her rig...
10916    This is what Pierre Trudeau gave Canadians once .
10917    I ca n't find an actual picture of it anywhere...
10918    Trudeau Saluteunknown ( -0.191 ) Another way t...
10919    This is after a famous incident of former Prim...
10920    Billy - `` That guy would n't leave me alone ,...
10921    Wish we at least had a Marine Le Pen to vote f...
10922    Its like the choices are white genocide candid...
10923    Why White people used to say that sex was a si...
10924                                       Now I get it !
Name: Tweet, dtype: object

In [112]:
data_df.to_csv("cleaned_two_label_data.csv")