In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score

%matplotlib inline

In [0]:
path = "/content/drive/My Drive/ML_Term_Project/"
data = pd.read_csv(path + "labeled_data_cleared.csv")
data_df = pd.DataFrame(data)

In [6]:
data_df.head()

   Unnamed: 0  count  ...  class                                              tweet
0           0      3  ...      2  !!! RT As a woman you shouldn't complain about...
1           1      3  ...      1  !!!!! RT boy dats cold...tyga dwn bad for cuff...
2           2      3  ...      1  !!!!!!! RT Dawg!!!! RT You ever fuck a bitch a...
3           3      3  ...      1                !!!!!!!!! RT she look like a tranny
4           4      6  ...      1  !!!!!!!!!!!!! RT The shit you hear about me mi...

[5 rows x 7 columns]

In [8]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
Unnamed: 0            24783 non-null int64
count                 24783 non-null int64
hate_speech           24783 non-null int64
offensive_language    24783 non-null int64
neither               24783 non-null int64
class                 24783 non-null int64
tweet                 24763 non-null object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [0]:
# Some useless columns are dropped
data_df = data_df.drop(["count", "hate_speech", "offensive_language", "neither"], axis=1)

In [0]:
# Unnamed column is changed to ID
data_df = data_df.rename(columns={"Unnamed: 0": "ID", "class":"Class"})

In [11]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 3 columns):
ID       24783 non-null int64
Class    24783 non-null int64
tweet    24763 non-null object
dtypes: int64(2), object(1)
memory usage: 581.0+ KB

In [0]:
X = data_df.drop(["Class"], axis=1)
y = data_df.drop(["tweet"], axis=1)

In [13]:
X.head()

   ID                                              tweet
0   0  !!! RT As a woman you shouldn't complain about...
1   1  !!!!! RT boy dats cold...tyga dwn bad for cuff...
2   2  !!!!!!! RT Dawg!!!! RT You ever fuck a bitch a...
3   3                !!!!!!!!! RT she look like a tranny
4   4  !!!!!!!!!!!!! RT The shit you hear about me mi...

In [14]:
y.head()

   ID  Class
0   0      2
1   1      1
2   2      1
3   3      1
4   4      1

In [0]:
data_df.tweet = data_df.tweet.fillna("")

In [0]:
"""
@:param documents represents corpus data
@:param stop_word means stop words are included or not. Default value is True
If you want to include stop words you should give False as a parameter
@:param n_gram indicate ngram range of TfidfVectorizer. Default value is 
(1, 1). Its mean unigram. 
(2, 2) --> bigram
(3, 3) --> 3-gram
(4, 4) --> 4-gram
@:return a numpy array
@:details min_df is determined as 0.0005. It ignores vocabulary if it has a
document frequency strictly lower than 0.0005. This value is a threshold value.
"""
def bag_word(documents, stop_word=True, n_gram=(1,1)):

    # If stop words want to be excluded.
    if stop_word:
        if n_gram == (1,1):
            tfidfconverter = TfidfVectorizer(ngram_range=n_gram, stop_words='english')
        else:
            tfidfconverter = TfidfVectorizer(ngram_range=n_gram, min_df=0.0005, stop_words='english')
    
    # If stop words want to be included
    if not stop_word:
        if n_gram == (1, 1):
            tfidfconverter = TfidfVectorizer(ngram_range=n_gram)
        else:
            tfidfconverter = TfidfVectorizer(ngram_range=n_gram, min_df=0.0005)

    X = tfidfconverter.fit_transform(documents).toarray()

    return X

In [0]:
"""
@:param prediction is numpy array which stores predictions
@:param y_test true labels of test data
@:return accuracy value
"""
def get_accuracy(prediction, y_test):
    correct = 0
    total = 0
    for i in range(len(prediction)):
        if prediction[i] == y_test.iloc[i]:
            correct += 1
        total += 1

    return correct / total

In [0]:

"""
@:param range_list represents x-axis values. If your x-axis values are in (1, 20) range,
plot's x-axis's in (1, 20) range.
@:param value_list represents accuracy values
@:param title_str is your plot's title. It must be in string type. 
@:param x_label_str is your x-axis title. For example, 'C values'
@:param y_label_str is your y-axis title. For example, 'Accuracies'
"""

def draw_plot(range_list, value_list, title_str, x_label_str, y_label_str):

    plt.plot(range_list, value_list, color="b", linestyle="dashed", marker="o", markerfacecolor="r")
    plt.title(title_str)
    plt.xlabel(x_label_str)
    plt.ylabel(y_label_str)
    plt.show()

In [21]:
acc_list = []
for i in range(1, 7):
    for exp in [True, False]:
        X = data_df['tweet'].values.astype('U')
        y = data_df["Class"].values.astype('U')
        X = bag_word(X, stop_word=exp, n_gram=(i, i))
        clfrNB = MultinomialNB()
        scores = cross_val_score(clfrNB, X, y,  cv=10)
        acc = scores.mean()
        acc_list.append(acc)
        if exp:
            print("MultinomialNB ", i, "- gram without stopwords : ", acc) 
        else:
            print("MultinomialNB ", i, "- gram with stopwords : ", acc)

MultinomialNB  1 - gram without stopwords :  0.8102738223026611
MultinomialNB  1 - gram with stopwords :  0.8005494743415312
MultinomialNB  2 - gram without stopwords :  0.786184710242388
MultinomialNB  2 - gram with stopwords :  0.8034549619548355
MultinomialNB  3 - gram without stopwords :  0.7750875717609844
MultinomialNB  3 - gram with stopwords :  0.7760561435997813
MultinomialNB  4 - gram without stopwords :  0.7748858775294394
MultinomialNB  4 - gram with stopwords :  0.7751281385103799
MultinomialNB  5 - gram without stopwords :  0.7743211336811135
MultinomialNB  5 - gram with stopwords :  0.7750875717609844
MultinomialNB  6 - gram without stopwords :  0.7743211336811135
MultinomialNB  6 - gram with stopwords :  0.7748858775294394

# Below cells are previous implementation. Not important

In [20]:
clfrNB = MultinomialNB()
scores = cross_val_score(clfrNB, X, y,  cv=10)
print(scores.mean())

0.8102738223026611

In [0]:
for i in range(1, 5):
    for exp in ["with stopwords ","without stopwords "]:
        X = bag_word(data_df.tweet, stop_word=True, n_gram=(i,i))
        X_train, X_test, y_train, y_test = train_test_split(X, data_df["Class"], test_size=0.3)
        clfrNB = MultinomialNB()
        clfrNB.fit(X_train, y_train)
        preds = clfrNB.predict(X_test)
        preds = preds.reshape(-1,1)
        preds = preds.reshape(1, -1)[0]
        acc = get_accuracy(preds, y_test)
        print("Accuracy", exp + str(i) + "-gram ", " - Multinomial Naive Bayes : ", acc)

Accuracy with stopwords 1-gram   - Multinomial Naive Bayes :  0.7956960322797579
Accuracy without stopwords 1-gram   - Multinomial Naive Bayes :  0.7966375252185609
Accuracy with stopwords 2-gram   - Multinomial Naive Bayes :  0.7908540685944856
Accuracy without stopwords 2-gram   - Multinomial Naive Bayes :  0.7877605917955616
Accuracy with stopwords 3-gram   - Multinomial Naive Bayes :  0.7691997310020174
Accuracy without stopwords 3-gram   - Multinomial Naive Bayes :  0.7678547410894419
Accuracy with stopwords 4-gram   - Multinomial Naive Bayes :  0.7764626765299261
Accuracy without stopwords 4-gram   - Multinomial Naive Bayes :  0.7689307330195023

In [0]:
X = bag_word(data_df.tweet, stop_word=True, n_gram=(6,6))
X_train, X_test, y_train, y_test = train_test_split(X, data_df["Class"], test_size=0.3)
clfrNB = MultinomialNB()
clfrNB.fit(X_train, y_train)
preds = clfrNB.predict(X_test)
preds = preds.reshape(-1,1)
preds = preds.reshape(1, -1)[0]
acc = get_accuracy(preds, y_test)
print("Accuracy without stopwords 6-gram - Multinomial Naive Bayes : ", acc)

Accuracy without stopwords 6-gram - Multinomial Naive Bayes :  0.7729657027572293

In [0]:
X = bag_word(data_df.tweet, stop_word=False, n_gram=(6,6))
X_train, X_test, y_train, y_test = train_test_split(X, data_df["Class"], test_size=0.3)
clfrNB = MultinomialNB()
clfrNB.fit(X_train, y_train)
preds = clfrNB.predict(X_test)
preds = preds.reshape(-1,1)
preds = preds.reshape(1, -1)[0]
acc = get_accuracy(preds, y_test)
print("Accuracy with stopwords 5-gram - Multinomial Naive Bayes : ", acc)

Accuracy with stopwords 5-gram - Multinomial Naive Bayes :  0.7736381977135172

In [0]:
X_train, X_test, y_train, y_test = train_test_split(data_df["tweet"], data_df["class"], test_size=0.3)
len(X_train), len(X_test)

(17348, 7435)

In [0]:
def get_label_counts(data):
    hate = 0
    offensive = 0
    neither = 0

    for i in range(len(data_df)):
        if data_df["class"].iloc[i] == 0:
            hate += 1
        elif data_df["class"].iloc[i] == 1:
            offensive += 1
        elif data_df["class"].iloc[i] == 2:
            neither += 1

    return hate, offensive, neither

In [0]:
hate_count, offensive_count, neither_count = get_label_counts(data_df)
print("Hate label : ", hate_count)
print("Offensive label : ", offensive_count)
print("Neither label : ", neither_count)
print("Total : ", hate_count + offensive_count + neither_count)
print("Total : ", len(data_df))

Hate label :  1430
Offensive label :  19190
Neither label :  4163
Total :  24783
Total :  24783

| Models | Stopword | Accuracy |
| ------ | -------  | -------  |
| 1-gram | Included | 0.8078009414929388 | 
| 1-gram | Not included | 0.798789509078682  |
| 2-gram | Included | 0.7861466039004708 |
| 2-gram | Not included | 0.789778076664425 |
| 3-gram | Included | 0.7732347007397444 |
| 3-gram | Not included | 0.7786146603900471 |
| 4-gram | Included | 0.7748486886348352 |
| 4-gram | Not included | 0.7674512441156691 |