In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
__author__ = "Gökhan Özeloğlu"

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import cross_val_score

%matplotlib inline

In [0]:
path = "/content/drive/My Drive/ML_Term_Project/"
data = pd.read_csv(path + "merged_and_cleaned.csv")
data_df = pd.DataFrame(data)

In [5]:
data_df.head()

   Unnamed: 0  index  ...   class norm
0           0      0  ...    none    2
1           1      1  ...    none    2
2           2      2  ...  sexism    1
3           3      3  ...    none    2
4           4      4  ...    none    2

[5 rows x 5 columns]

In [0]:
# Some useless columns are dropped
data_df = data_df.drop(["Unnamed: 0"], axis=1)

In [9]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16907 entries, 0 to 16906
Data columns (total 4 columns):
index    16907 non-null int64
text     16595 non-null object
class    16907 non-null object
norm     16907 non-null int64
dtypes: int64(2), object(2)
memory usage: 528.5+ KB

In [14]:
data_df.norm, data_df.tail(40)
# 0 --> racism
# 1 --> sexism
# 2 --> none

(0        2
 1        2
 2        1
 3        2
 4        2
         ..
 16902    1
 16903    2
 16904    2
 16905    2
 16906    2
 Name: norm, Length: 16907, dtype: int64,
        index                                               text   class  norm
 16867  16867  Palestinians accepted the 2state solution.one ...  racism     0
 16868  16868  ISIS, Boko Haram, Al Queda, Taliban, Iran hang...    none     2
 16869  16869          bahah google suggestions knows what's up.    none     2
 16870  16870  I'm not sexist but women sort out ur fucking p...  sexism     1
 16871  16871                                                yup    none     2
 16872  16872            3, 4, 4 from me. Below average all over    none     2
 16873  16873                           Almost time to serve...!    none     2
 16874  16874                               I have a sunburn. :(    none     2
 16875  16875  One of the vile things about Islam is that it ...  racism     0
 16876  16876  The only thing that seems to be screwing up to...    none     2
 16877  16877  Already did. Found out that Islam is a vile, b...  racism     0
 16878  16878  Missing Person: Dolores Dennis (81, 5'5', 100l...    none     2
 16879  16879     I think maybe the "hat" is turning people off.    none     2
 16880  16880                           Sick of the word Sassy!!    none     2
 16881  16881  ruby seems like it would have a lot of stuff t...    none     2
 16882  16882                                      Kat is a mole    none     2
 16883  16883                                     3 chef wankers    none     2
 16884  16884  compared to the sewer and violence and poverty...  racism     0
 16885  16885  We’ve just said goodbye to another team! Are y...    none     2
 16886  16886  Before CNN refrained from showing the Charlie ...    none     2
 16887  16887  why do all these people WANT to cook for a liv...  sexism     1
 16888  16888                                           YESSSSSS    none     2
 16889  16889  Go ahead and remain a moron. Makes no differen...    none     2
 16890  16890  that is horrible. :( i've only heard about thi...    none     2
 16891  16891  also (the awesome) counted the of women he fol...    none     2
 16892  16892  And here you are honoring terrorists that your...    none     2
 16893  16893  Those kisses on the mirror look like. ....cats...    none     2
 16894  16894  Has anyone made a Twitter account for Rob's ha...    none     2
 16895  16895  it's true, there's a risk. but the same risk i...    none     2
 16896  16896  Have you ever had a female judge outraged at y...  sexism     1
 16897  16897  Little short and to the point ISLAM Lesson's f...    none     2
 16898  16898  No, it's not SEXIST...But I do have a theory t...  sexism     1
 16899  16899  That's a huge serve of pancakes!!! Kids would ...    none     2
 16900  16900  ...whereas, prostitution is the same job for s...  sexism     1
 16901  16901  Not only were there no sanctions against food ...    none     2
 16902  16902  ash and camilla have grown on me, but can Kat ...  sexism     1
 16903  16903  Kat you've been owned: "there's only one way t...    none     2
 16904  16904  Because if non of those things are true, I don...    none     2
 16905  16905                          Why not just make a tart?    none     2
 16906  16906  We didn't overturn elections in either place, ...    none     2)

In [0]:
data_df.text = data_df.text.fillna("")

In [0]:
"""
@:param documents represents corpus data
@:param stop_word means stop words are included or not. Default value is True
If you want to include stop words you should give False as a parameter
@:param n_gram indicate ngram range of TfidfVectorizer. Default value is 
(1, 1). Its mean unigram. 
(2, 2) --> bigram
(3, 3) --> 3-gram
(4, 4) --> 4-gram
@:return a numpy array
@:details min_df is determined as 0.0005. It ignores vocabulary if it has a
document frequency strictly lower than 0.0005. This value is a threshold value.
"""
def bag_word(documents, stop_word=True, n_gram=(1,1)):

    # If stop words want to be excluded.
    if stop_word:
        if n_gram == (1,1):
            tfidfconverter = TfidfVectorizer(ngram_range=n_gram, stop_words='english')
        else:
            tfidfconverter = TfidfVectorizer(ngram_range=n_gram, min_df=0.0005, stop_words='english')
    
    # If stop words want to be included
    if not stop_word:
        if n_gram == (1, 1):
            tfidfconverter = TfidfVectorizer(ngram_range=n_gram)
        else:
            tfidfconverter = TfidfVectorizer(ngram_range=n_gram, min_df=0.0005)

    X = tfidfconverter.fit_transform(documents).toarray()

    return X

In [17]:
acc_list = []
for i in range(1, 7):
    for exp in [True, False]:
        X = data_df['text'].values.astype('U')
        y = data_df["norm"].values.astype('U')
        X = bag_word(X, stop_word=exp, n_gram=(i, i))
        clfrNB = MultinomialNB()
        scores = cross_val_score(clfrNB, X, y,  cv=10)
        acc = scores.mean()
        acc_list.append(acc)
        if exp:
            print("MultinomialNB ", i, "- gram without stopwords : ", acc) 
        else:
            print("MultinomialNB ", i, "- gram with stopwords : ", acc)

MultinomialNB  1 - gram without stopwords :  0.7527053591248498
MultinomialNB  1 - gram with stopwords :  0.7296379174498268
MultinomialNB  2 - gram without stopwords :  0.7360256860346887
MultinomialNB  2 - gram with stopwords :  0.766131364212258
MultinomialNB  3 - gram without stopwords :  0.6885906374207426
MultinomialNB  3 - gram with stopwords :  0.7400484808248954
MultinomialNB  4 - gram without stopwords :  0.6836813540418708
MultinomialNB  4 - gram with stopwords :  0.7171584836271412
MultinomialNB  5 - gram without stopwords :  0.6836813540418708
MultinomialNB  5 - gram with stopwords :  0.6872300403887471
MultinomialNB  6 - gram without stopwords :  0.6836813540418708
MultinomialNB  6 - gram with stopwords :  0.6836813540418708